html, body {
  margin: 0;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: 300
}

#parent-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.content-area {
  display: flex;
  flex-grow: 1;
  min-height: 0;
}

.sidebar {
  width: 400px;
  height: 100%;
  padding: 25px 15px;
  background-color: #86a2cf;
  color: #FFF;
  text-align: left;
  border-right: 1px solid #5e5e5e;
  display: flex;
  flex-direction: column;
}

.sidebar-top {
  flex-grow: 1;
  border-bottom: 1px solid #5e5e5e;
}

.sidebar-bottom {
  padding-top: 15px;
}

.sidebar h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

.sidebar h5 {
  margin-bottom: 20px;
}

#mapContainer {
  flex-grow: 1
}

/* override bootstrap styles for primary outline buttons */
.btn-outline-primary {
  color: #023858;
  border-color: #023858;
}

.btn-outline-primary:hover {
  color: #023858;
  background-color: #023858;
  border-color: #023858;
}

/* style the "brand" or logo area */
.navbar-brand {
  font-family: 'Fredoka', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
}

.reset {
  margin-bottom: 25px;
}

.reset:hover {
  text-decoration: underline;
  cursor: pointer;
}

.legend {
  background-color: #6a7280;
  border-radius: 3px;
  bottom: 30px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  padding: 10px;
  position: absolute;
  right: 10px;
  z-index: 1;
}

.legend h4 {
  margin: 0 0 10px;
}

.legend div span {
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin-right: 5px;
  width: 10px;
}
